<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#008ca8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/orig-style.css" />
    <link rel="icon" href="/skillavate-icon.ico" />
    <title>Skillavate</title>
  </head>
  <body>
    <div class="container mt-4 skillavate-form" style="padding-top: 15px">
      <h1><%= serviceTitle %></h1>
      <p><%= serviceDescription %></p>
      <!--Location-->
      <h2>Location</h2>
      <p><%=serviceLocation %></p>

      <hr style="border-top: 3px solid var(--light-color)" />

      <!-- Contact info-->
      <h2><%= servicePhone != "" ? "Phone" : ""%></h2>
      <p><%= servicePhone != "" ? servicePhone : ""%></p>
      <h2><%= serviceWebsite != "" ? "Website" : ""%></h2>
      <p><%= serviceWebsite != "" ? serviceWebsite : ""%></p>
      <h2><%= serviceEmail != "" ? "Email" : ""%></h2>
      <p><%= serviceEmail != "" ? serviceEmail : ""%></p>
    </div>
  </body>
  <script></script>
</html>
